* {
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 229, 229);
    margin: 0;
}

.container {
    margin: 1rem;
    text-align: center;
}

.nav {
    background-color: #3b5998;
    color: white;
    font-family: 'Helvetica Neue';
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    /* background-color: #f6f6f6; */
    border-radius: 10px;

    color: black;
}

.nav li:hover {
    border-radius: 10px;
    background-color: #f6f6f6;
}

.submenu {
    background-color: #f6f6f6;
    position: absolute;
    z-index: 1;
    padding: 10px;
    top: 100%;
    left: 0;
  }
  